@import 'layout';
@import 'landing';
@import 'packages';

body {
  background-color: #eff1f2;
}

.fa-tag-text {
  margin-left: 10px;
}

#app-title {
  font-weight: bold;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.detailHeader {
  border: 0;
  margin-top: 25px;
}

.detail-body-detail {
  border: 0;
  border-radius: 50px;
  margin-top: 50px;
  margin-left: 25px;
}

.detail-body-history {
  border: 0;
  border-radius: 50px;
  margin-top: 50px;
  padding-left: 25px;
}
