<div class="row">
  <div class="col-md-12">
    <h1>Home</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <p>This is Column 1</p>
  </div>
  <div class="col-md-4">
    <p>
      This is Column 2
    </p>
  </div>
  <div class="col-md-4">
    <p>
      This is Column 3
    </p>
  </div>
</div>